<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/x-icon" href="@Url.Content("~/Assets/StaticImages/header-logo.ico")" />
    <title>Login - Bhatpara Municipality Hall Booking</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.8/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.1/css/buttons.dataTables.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="@Url.Content("~/css/Custom.css")" asp-append-version="true" />
    <link rel="stylesheet" href="@Url.Content("~/css/Developer.css")" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.min.css" />
    <link rel="stylesheet" href="~/HallBookingBhatPara.styles.css" asp-append-version="true" />

</head>
<body>
    @await Html.PartialAsync("_GlobalLoader")
    @await Html.PartialAsync("_NavBar")
    @RenderBody()
    @await Html.PartialAsync("_Footer")
    <!-- scrips -->
    @await Html.PartialAsync("_Script") 
         
    @* @await RenderSectionAsync("Scripts", required: false) *@
</body>
</html>
