@inject IWebHostEnvironment Env
@{
    ViewData["Title"] = "Error";
}

<h2>An error occurred</h2>

@if (Env.IsDevelopment())
{
    <div class="alert alert-danger">
        <strong>Development Mode:</strong> Detailed error below:
        <pre>
    @TempData["GlobalErrorMessage"]
            </pre>
    </div>
}
else
{
    <p>Sorry, something went wrong. Please try again later.</p>
}
